* {
    font-family: 'Roboto', sans-serif;
    background-color: 0, 0, 0, 1;
}

html,
body {
    height: 100%;
}
 
/* --- Home Page --- */

.jumbotron {
    background: url(../images/new-york-4340541_1920.jpg) no-repeat center center fixed;
    height: 85vh;
    margin-bottom: 0;
    color: #f5f5f5;
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px #333;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 1.75rem;
    font-weight: 800;
}

nav li {
    padding-left: 3em;
}

.display-4 {
    color: #f5f5f5;
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px #333;
    padding-top: 5em;
}


.btn-outline-secondary {
    color:#f5f5f5 
}

footer small, footer a {
    color: #f5f5f5;
    text-align: right;
    height: 1.5em;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: small;
}

footer a:hover {
    color: #f5f5f5;
}

/* --- About Page --- */
#page-content {
    color: #f5f5f5;
}
.bio {
    background-color: #fffff0;
}

.about p {
    line-height: 1.75em;
}

#page-content {
    margin-top: 2em;
    flex: 1 0 auto;
    padding-top: 3em;
}

/* --- Portfolio Page --- */
.display-5 {
    color: #f5f5f5
}
.images img {
    max-height: auto;
    max-width:  auto;
    padding: 1em;
}

.title {
    padding: 1em;
}
.overlay {
    display: inline-block;
    position: relative;
    padding: .75em;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  }
  .text {
    background: rgba(0,0,0,0.9);
    color: whitesmoke;
    font-size: 2em;
    transition: opacity .5s;
    opacity: 0;
    position: absolute;
    top: .5em; bottom: .5em; left: .5em; right: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay:hover .text {
    opacity: .85;
  }

  img {
    max-width: 100%;
   height: auto;
  }

.images.container {
    margin: 2em; 
}

a:hover {
    color: #f5f5f5;
    text-decoration: none;
    opacity: .7;
}



/* --- Contact Page --- */

h1.contact {
    padding: 1.5em;
}
i { 
    text-shadow: 3px 2px 3px #3d9bff; 
} 

.icon {
    padding: 2em;
    padding-top: 0;
}

.icon-links a:link {
    color: #e6dede; 
   
}

.icon-links a:visited {
    color: #e6dede;
}

.icon-links a:hover {
    color: #3d9bff;
    text-shadow: 3px 6px 6px #e6dede; 
    transition: 0.35s;
    transform: scale(1.5);
}
/* --- Resume Page --- */

.resume {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.resume-icon {
    color: #5ca6eb;
    text-shadow: none;
}

.resume-links {
    line-height: 2rem;
}

.resume-links a:link {
    color: #e6dede; 
}

.html-logo {
    color:orange;
}

.css-logo {
    color: rgb(31, 143, 247);
}

.js-logo {
    color: yellow;
}

.n-js-logo {
    color: rgb(7, 189, 7);
}

.resume-links a:visited {
    color: #e6dede;
}

.resume-links a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}

.resume-name {
    font-family: 'Dancing Script', cursive;
    font-size: 2.6rem;
}

hr {
    background-color: #f5f5f5;
}


@media screen and (max-width:768px) {

    /* Home Page */
    h1 {
        font-size: 1.75em;
    }
    h2 {
        font-size: 1em;
    }
    h4 {
        
        font-size: 1.25em;
    }

    /* Contact Page */
   .fa-3x {
       font-size: 225%;
   }

    .icon {
        padding: 12px;
    }

    form {
        margin: 1em;
    }
    
    /* About Page */

    #bio-pic {
        max-height: 400px;
        padding:0;
    }
    figure {
        align-content: center;
    }
}
.about {
    margin-bottom: 3em;
}

#page-content {
    margin: 2em;
}

/* Portfolio Text */

.text {
    text-align: center;
}

/* --- Resume Page --- */

#profile-pic {
    max-height: 400px;
}
